
.pageHeader {
    text-align: center;
    margin: 10px 0 20px 0;
}

.list {
    display: flex; /* Display the child items in a Flex layout */
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.shop {
    display: flex;
    flex: 1 0 25%;
    margin: 0 10px 0 10px;
    border: 1px dashed rgb(0, 0, 0);
    max-width: 33%;
    padding: 4px;
}

